<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>authorized</title>
</head>
<body>

<a href="{{ url_for('show_views.logout') }}">logout</a><br>
<p>Twoje przesyłki:</p>

{% for s in shipments %}
    <form action="{{ url_for('shipments.show_map') }}" method="POST">
        <input type="hidden" name="shipment_id" value="{{ s.id }}">

        <label>sender: {{ s.user_sender }}</label><br>
        <label>receiver: {{ s.user_receiver }}</label><br>

        <button type="submit">
            Przesyłka #{{ s.id }} ({{ s.pickup_lat }}, {{ s.pickup_lng }})
        </button>

        <br>
    </form>
{% endfor %}

</body>
</html>
